.text-pink {
    color: #ff6b9c;
  }
  .btn-outline-pink {
    border-color: #ff6b9c;
    color: #ff6b9c;
  }
  .btn-outline-pink:hover {
    background-color: #ff6b9c;
    color: white;
  }
  

  html {
    scroll-behavior: smooth;
  }
  


  .card-img-top {
    width: 100%;
    height: 200px; /* or any height that fits your design */
    object-fit: cover;
  }
  
  